/* CSS Document */
body{
background-color: #CCCCCC;
}
.titulo{

background:url(fondo.jpg);

font-family:"Trebuchet MS";
text-align:center;
border: 1px solid;

padding: 20px 0px 20px 0px ;
color:#FFFFFF;
}

.ingreso{


width:300px;
margin-left:500px;
margin-top:100px;
text-align:center;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
border: 1px solid;
padding: 20px 0px 20px 0px;
border-radius:20px;
box-shadow:3px 3px 1px 1px #333333;
background-color:#999999;
}

.ingreso form label{

margin-left:10px;
width:100px;
font-weight:900;


}

.imagen{
position:absolute;
margin-left:0px;
margin-top:-122px;
}

.texto{
position:absolute;
margin-left:550px;
margin-top:200px;
font-family:"Trebuchet MS";
color:#FFFFFF;
top:50px;

}


.cuad1{
margin-top:30px;
margin-left:30px;
border-radius:5px;

}
.cuad2{
margin-top:40px;
margin-left:4px;
border-radius:5px;
}