/* CSS Document */

body{
background-color:#FFFFFF;
height:1120px;

}

.tit{
font-family:"Trebuchet MS";
background-color:#0066CC;
margin-top:-10px;
margin-left:-10px;
padding:  15px 0px  15px 0px;
text-align:left;
top:0px;
left:0px;
color:#FFFFFF;
font-size:26px;


}
.nombres{
position:absolute;
left:50px;
top:90px;

}

.n1{
position:absolute;

left:50px;
top:145px;
height:30px;
color:#333333;
}
.n2{
position:absolute;
left:400px;
top:145px;
height:30px;
color:#333333;

}
.apellidos{
position:absolute;
left:50px;
top:185px;
}
.ap1{
position:absolute;
left:50px;
top:225px;
height:30px;
color:#333333;

}
.ap2{
position:absolute;
left:400px;
top:225px;
height:30px;
color:#333333;
}
.fecha{
position:absolute;
left:50px;
top:270px;

}
#dob{
position:absolute;
left:50px;
top:315px;
height:30px;
color:#333333;
}
.cedula{
position:absolute;
left:400px;
top:270px;

}
.ced{
position:absolute;
left:400px;
top:315px;
height:30px;
color:#333333;
}

.ciudad{
position:absolute;
left:50px;
top:360px;

}
.cd{
position:absolute;
left:50px;
top:405px;
height:30px;
color:#333333;
}
.pais{
position:absolute;
left:50px;
top:450px;
}
.pa{
position:absolute;
left:50px;
top:495px;
height:30px;
color:#333333;

}
.genero{
position:absolute;
left:50px;
top:540px;
}
.hombre{
position:absolute;
left:50px;
top:585px;
}
.m{
position:absolute;
left:65px;
top:585px;
}
.mujer{
position:absolute;
left:50px;
top:630px;
}
.f{
position:absolute;
left:65px;
top:630px;
}

.placa{
position:absolute;
left:50px;
top:675px;
}
.placas{
position:absolute;
left:50px;
top:720px;
height:30px;
color:#333333;
}
.usuario{
position:absolute;
left:50px;
top:765px;
}
.user{
position:absolute;
left:50px;
top:810px;
height:30px;
color:#333333;
}
.contraseña{
position:absolute;
left:50px;
top:855px;
}
.clave{
position:absolute;
left:50px;
top:900px;
height:30px;
color:#333333;
}


.registro{
font-family:"Trebuchet MS";
}
.crear{
width:100px;
padding:10px 0px 10px 0px;
position:absolute;
left:500px;
top:980px;
margin-bottom: 90px;
height:40px;

}

.crear1{
width:100px;
padding:10px 0px 10px 0px;
position:absolute;
left:700px;
top:980px;
margin-bottom: 90px;
height:40px;

}